body{
    background-color: #000;
    width: 100vw;
    height: 100vh;
}

.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}
.navigation ul{
    position: relative;
}
.navigation ul li{
    text-align: center;
    list-style: none;
}
.navigation ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 3rem;
    padding: 5px 20px;
    display: inline-flex;
    font-weight: 700;
    transition: .5s;
    transform-origin: center;
}
.navigation ul:hover li a{
    color: rgba(255, 255, 255, 0.4);
}
.navigation ul li:hover a{
    color: rgb(0, 0, 0);
    background-color: #ff0;
}

.navigation ul li a:before{
content: "";
position: absolute;
top: 50%;
left: 40%;
transform: translate(-50%, -50%);
display: flex;
justify-content: center;
align-items: center;
font-size: 15rem;
color: rgba(255, 255, 255, 0.411);
z-index: -1;
border-radius: 50%;
opacity: 0;
font-weight: 900;
text-transform: uppercase;
letter-spacing: 500px;
transition: letter-spacing 0.5s , left .5s;
}
.navigation ul li a:hover:before{
 content: attr(data-text);
 opacity: 1;
 left: 50%;
 width: 2300px;
 height: 1800px;
 letter-spacing: 10px;
}
/* .navigation ul li:nth-child(5n+1) a:before{
    background: coral;
}
.navigation ul li:nth-child(5n+2) a:before{
    background: cornflowerblue;
}
.navigation ul li:nth-child(5n+3) a:before{
    background: rgb(0, 255, 119);
}
.navigation ul li:nth-child(5n+4) a:before{
    background: rgb(0, 60, 255);
}
.navigation ul li:nth-child(5n+5) a:before{
    background: rgb(255, 0, 170);
} */
